.aboutme {
  /* background-color: #ffffffdf; */
  backdrop-filter: blur(900px);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.aboutme h2 {
  font-family: 'Century Gothic';
  font-size: 50px;
  font-weight: 700;
  color: rgb(235, 235, 235);
}

.aboutme p {
  font-family: 'Century Gothic';
  font-size: 20px;
  font-weight: 400;
  color: rgb(199, 199, 199);
  text-align: center;
}

.resume-link {
	display: inline-block;
	margin: 10px;
	padding: 20px 30px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
  }
  
  .resume-link:hover {
	background-color: #555;
  }