@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr; 
  height: 70px;
  width: 100%;
  align-items: center;
  background-color: #6f6830;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.home-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 70px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("your-image.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.left-portion {
  display: flex;
  padding-left: 20%;
}

.middle-portion {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.right-portion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-texts {
  font-family: 'Century Gothic';
  display: flex;
  align-items: center;
  color: rgb(222, 222, 222);
  justify-content: center;
  padding: 20px 35px;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  text-decoration: none; 
}

.header-texts:visited {
  color: rgb(222, 222, 222); /
  text-decoration: none; 
}

.header-texts:hover {
  background-color: white;
  color: #6f6830;
  text-decoration: none; 
}

.header-name {
  font-family: 'Century Gothic';
  font-weight: 540;
  letter-spacing: 5px;
  color: rgb(222, 222, 222);
  font-size: 35px;
}

.contact-icon {
  width: 28px;
  height: 28px;
  padding: 1.4px;
  margin: 0 10px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 1024px) {
  .header-container {
    grid-template-columns: 1fr 2fr 1fr; 
    height: 60px;
  }

  .header-texts {
    padding: 15px 25px;
    font-size: 1rem;
  }

  .header-name {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .header-container {
    grid-template-columns: 1fr; /
    height: auto;
    padding: 10px 0;
  }

  .left-portion, .middle-portion, .right-portion {
    justify-content: center;
    padding: 10px 0;
  }

  .header-texts {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .header-name {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  .header-container {
    grid-template-columns: 1fr; 
    height: auto;
    padding: 5px 0;
  }

  .left-portion, .middle-portion, .right-portion {
    justify-content: center;
    padding: 5px 0;
  }

  .header-texts {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .header-name {
    font-size: 20px;
  }
}