.portfolio-header {
    font-weight: 700; 
    color: rgb(36, 52, 40);
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
}

.skills {
    background-color: #ffffffdf;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.photo-skill {
    width: 400px;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 6px 2px 15px rgba(0, 0, 0, 0.2);
}

.skills-container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
}

.skills-header {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #6f6830;
}

.skill-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill {
    display: flex;
    flex-direction: column;
}

.skill-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: rgb(36, 52, 40);
    font-weight: 300;
}

.skill-bar {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border-style: solid;
    border-color: #6f6830;
}

.skill-percentage {
    height: 20px;
    background-color: #6f6830;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .portfolio-header {
        font-size: 2.5rem;
    }

    .skills {
        flex-direction: column;
        padding: 50px;
    }

    .photo-skill {
        max-width: 350px;
    }

    .skills-container {
        max-width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .portfolio-header {
        font-size: 2rem;
    }

    .skills {
        flex-direction: column;
        padding: 30px;
    }

    .photo-skill {
        max-width: 100%;
        height: auto;
    }

    .skills-container {
        max-width: 90%;
        margin: 20px auto;
    }

    .skills-header {
        font-size: 1.75rem;
    }

    .skill-name {
        font-size: 1rem;
    }
}